
html {
  background-color: #FFF5EF;
  font-family: "Lato", sans-serif;
  color: #707070;
}
/* body copy tags*/
.banner-copy {
  max-width: 510px;
}

.feature-copy {
  max-width: 500px;
}

.statement {
  max-width: 650px;
  background-color: #DEDEDE;
  border-radius: 18px;
  border-bottom: 6px solid #E51C1C;
}
/* images and logos tags*/
.header-logo {
  max-width: 64px;
  margin: 0;
}

.comp-logo {
  max-width: 32px;
  margin: 0;
}

.logo-flex {
  max-width: 256px;
  margin: 0;
}

.feature-logo {
  max-width: 200px;
  margin: 0;
}

.plan-img {
  max-width: 200px
}

.plan-img-plus {
  max-width: 160px
}
/* theme elements*/
.feature-title {
    color: #E51C1C;
}

.brand-name {
  color: #E51C1C;
}

.compatibility-list {
  border-bottom: 6px solid #E51C1C;
  border-top: 6px solid #E51C1C;
}

.nav {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: #707070;
}

.nav-link:hover {
  color: #E51C1C;
}

.btn {
  background-color: #E51C1C;
  color: #00000;
  border-radius: 12px;
  border: 0;
}

.btn:hover {
  background-color: #DEDEDE;
  color: #E51C1C;
}

input {
  border-radius: 8px;
}

.faq {
  background-color: #E51C1C;
}

.faq-title {
  color; #00000;
}

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:6px;
    height:12px;
    background-color:#E51C1C;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:6px;
    height:6px;
    background-color:#E51C1C;
    left:8px;
    top:12px;
}

@media only screen and (min-width: 25em) {

  }
