html {
  background-color: #fff5ef;
  font-family: Lato, sans-serif;
  color: #707070;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: #fff;
  background-color: #707070;
}

.skip-links a:focus {
  top: 0;
}

.banner {
  height: 500px;
}

.banner-copy {
  max-width: 510px;
}

.feature-copy {
  max-width: 500px;
}

.statement {
  max-width: 650px;
  background-color: #dedede;
  border-radius: 18px;
  border-bottom: 6px solid #e51c1c;
}

.header-logo {
  max-width: 64px;
  margin: 0;
}

.comp-logo {
  max-width: 32px;
  margin: 0;
}

.logo-flex {
  max-width: 75%;
  margin: 0;
}

.feature-logo {
  max-width: 200px;
  margin: 0;
}

.plan-img {
  max-width: 200px
}

.plan-img-plus {
  max-width: 150px
}

.feature-title {
  color: #e51c1c;
}

.brand-name {
  color: #e51c1c;
}

.compatibility-list {
  border-bottom: 3px solid #e51c1c;
  border-top: 3px solid #e51c1c;
}

.nav {
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: #707070;
}

.nav-link:hover {
  color: #e51c1c;
}

.btn {
  background-color: #e51c1c;
  color: #fff;
  border-radius: 12px;
  border: 0;
}

.btn:hover {
  background-color: #dedede;
  color: #e51c1c;
}

input {
  border-radius: 8px;
}

.faq {
  background-color: #e51c1c;
  color: #fff;
}

.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width: 6px;
  height: 12px;
  background-color: #e51c1c;
  left: 11px;
  top: 6px;
}

.checkmark_kick {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #e51c1c;
  left: 8px;
  top: 12px;
}
